.stack-work/
*~
dist/
dist-newstyle/
result
result-*
/.pre-commit-config.yaml

# stack.yaml provides sufficient pinning the way we use it. This lock file doesn't seem to be worth the hassle.
/stack.yaml.lock
.direnv

dev-profile*