name: Publish

on:
  push:
    branches:
      - master

jobs:
  autotag:
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.autotag.outputs.created }}
    steps:
    - uses: actions/checkout@v4

    # Assume that the versions for cachix and cachix-api are kept in sync.
    - uses: sol/haskell-autotag@v1
      id: autotag
      with:
        package-path: cachix

  release:
    needs: autotag
    if: needs.autotag.outputs.created

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@V27
    - uses: cachix/cachix-action@v15
      with:
        name: cachix
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}

    - name: Update the 'latest' git tag
      uses: EndBug/latest-tag@latest

    - name: Generate source distributions
      run: |
        cabal sdist cachix
        cabal sdist cachix-api

    - name: Publish to Hackage
      uses: haskell-actions/hackage-publish@v1.1
      with:
        # http://hackage.haskell.org/users/account-management
        hackageToken: ${{ secrets.HACKAGE_AUTH_TOKEN }}
        publish: true

    - name: Pin the release
      env:
        CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
        CACHIX_SIGNING_KEY: ${{ secrets.CACHIX_SIGNING_KEY }}
      run: cachix pin cachix ${{ github.ref_name }} $(nix build '.#cachix' --impure --print-out-paths)
