name: "Release"

on:
  workflow_call:
    secrets:
      HACKAGE_AUTH_TOKEN:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v23
    - uses: cachix/cachix-action@v13
      with:
        name: cachix

    - name: Build distributables
      run: nix build -L --show-trace .#release

    - uses: haskell-actions/hackage-publish@v1
      with:
        # http://hackage.haskell.org/users/account-management
        hackageToken: ${{ secrets.HACKAGE_AUTH_TOKEN }}
        packagesPath: result/
        publish: true

  pin:
    needs: release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v23
    - uses: cachix/cachix-action@v13
      with:
        name: cachix
    - run: cachix pin cachix ${{ github.ref_name }} $(nix build '.#cachix' --impure --print-out-paths)


