name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v12
    - uses: cachix/cachix-action@v8
      with:
        name: cachix
    - uses: cachix/cachix-action@v8
      with:
        name: cachix
        installCommand: NIXPKGS_ALLOW_BROKEN=1 nix-env -if .
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    # once nixpkgs is bumped we don't need this flag anymore
    - run: NIXPKGS_ALLOW_BROKEN=1 nix-build ci.nix
    # make sure it's all uploaded to cachix
    - run: echo > /tmp/store-path-pre-build
