name: "Test"

on:
  pull_request:
  push:

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v23
    - uses: cachix/cachix-action@v12
      with:
        name: cachix

    - uses: cachix/cachix-action@v12
      with:
        name: cachix
        installCommand: NIXPKGS_ALLOW_BROKEN=1 nix-env -if .
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - run:  nix build -L '.#ci' '.#cachix' --show-trace --impure

    - name: Install dev Cachix
      run: nix-env -if .

    # TODO; remove this
    # make sure it's all uploaded to cachix
    - run: echo > /tmp/store-path-pre-build

    - name: "watch-exec test"
      env:
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
      if: ${{ env.signingKey != '' }}
      run: cachix watch-exec cachix -- nix-build genpaths.nix --substituters 'https://cache.nixos.org'

    - name: "daemon watch-exec test"
      env:
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
      if: ${{ env.signingKey != '' }}
      run: cachix daemon watch-exec cachix -- nix-build genpaths.nix --substituters 'https://cache.nixos.org'

  release:
    needs: tests
    if: github.repository_owner == 'cachix' && startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/release.yml
    secrets: inherit
