name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
    - uses: cachix/cachix-action@v12
      with:
        name: cachix
    - uses: cachix/cachix-action@v12
      with:
        name: cachix
        installCommand: NIXPKGS_ALLOW_BROKEN=1 nix-env -if .
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run:  nix build -L '.#ci' '.#cachix' --show-trace
    # make sure it's all uploaded to cachix
    - run: echo > /tmp/store-path-pre-build
    # test watch-exec
    - run: cachix watch-exec cachix -- nix-build genpaths.nix --substituters 'https://cache.nixos.org'
